@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(51,52,54,0.75);
    z-index: -1;
}

nav {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    height: 80px;
}

.logo-container {
    grid-column: 1 / 2;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    align-self: center;
}

.logo-container #logo {
    width: 100%;
    object-fit: contain;
}

.logo-container #logo:hover {
    cursor: pointer;
}

#search-form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 2.5rem;
    border-radius: 0.8rem;
    grid-column: 2 / 3;
    width: 600px;
    align-self: center;
    margin: 0 auto;
    position: relative;
    overflow-y: visible;
}

#search-form button {
    height: 100%;
    width: 3.2em;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-form button:hover {
    cursor: pointer;
}

#search-icon {
    height: 40%;
    fill: #8b929f;
}

#search-input {
    background-color: transparent;
    color: #000;
    outline: none;
    width: 100%;
    border: 0;
    padding: 0.5em 1.5em 0.5em 0.2em;
    font-size: 1em;
}

::placeholder {
    color: #8b929f;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    gap: 0.8rem;
    overflow-y: auto;
}

.welcome-message {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

h1 {
    font-size: 8rem;
    text-align: center;
}

h1 span {
    color: #c3313c;
}

.welcome-message h2 {
    font-size: 1.7rem;
    text-align: center;
}

.rating-card {
    width: 90%;
    min-width: 650px;
    min-height: 200px;
    height: max-content;
    flex-grow: 0;
    border: 3px solid #000;
    border-radius: 1rem;
    display: flex;
    color: #000;
    background-color: #fff;
}

.rating-card-left {
    border-radius: 8px 0 0 8px;
    min-width: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border-right: 3px solid #000;
    font-size: 1.2rem;
    font-weight: 800;
}

.rating-card-left i {
    color: #ceaf01;
    font-size: 1.2em;
}

.rating-card-right {
    flex-grow: 1;
    border-radius: 0 8px 8px 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rating-card-stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rating-card-text {
    width: 100%;
    flex-grow: 1;
}

.professor-card, .search-suggestion {
    border-radius: 1rem;
    padding: 0.8rem;
    display: flex;
    color: #000;
    background-color: #fff;
}

.professor-card {
    width: 500px;
    height: max-content;
    border: 3px solid #c3313c;
}

.professor-card:hover {
    scale: 1.02;
    transition: scale 0.2s ease-in-out;
    cursor: pointer;
}

.professor-card-title {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    flex-grow: 1;
}

.professor-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1rem;
    width: max-content;
    min-height: 100%;
}

.professor-card-rating i {
    color: #ceaf01;
}

.search-suggestion {
    width: 100%;
    height: 80px;
    border: none;
}

.search-suggestion:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.search-dropdown {
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    width: 600px;
    border-radius: 1rem;
    height: fit-content;
    max-height: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.15);
}

.professor-page-container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.professor-page-left {
    flex-grow: 1;
    height: 80%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.professor-nameplate {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #c3313c;
    border: 6px solid #000;
    border-radius: 1.5rem;
}

.professor-nameplate h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

.professor-nameplate .professor-nameplate-details {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0 2rem;
    font-size: 1.2em;
}

.professor-page-right {
    width: 60%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: auto;
    padding-bottom: 1rem;
}

.add-rating-button {
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.add-rating-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.add-rating-button:hover::after {
    transform: scale(4);
}

.add-rating-button:hover {
    border-color: #666666;
    background: #292929;
}
